.footer .btn {
    border-radius: 0;
}

.footer .search_img {
    content: url(../img/Icons/magnifying-glass.svg);
}

.footer .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.footer .nav-link:hover {
    color: #faebd7;
}