* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header .btn {
    border-radius: 0;
}

.header .search_img {
    content: url(../img/Icons/magnifying-glass.svg);
    width: 50%;
}

.header .nav-item:hover {
    background-color: #dc143c;
}

.header .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.header .nav-link:hover {
    color: #faebd7;
}